{% extends "template.html.twig" %}  

{% block TitleNav %}
    Accueil
{% endblock %}
    
{% block PageTitle %}
    <h1> <strong>Bienvenue sur Clic'Répare !</strong></h1>
{% endblock %}

{% block Body %}
{% include "fragments/date-jour.html.twig" %}
    <div class="alert">
    <h1>With Love from {{name | capitalize}} {{firstname | capitalize}}</h1>
        <p>Hello World</p>
        {# <p> {{number}} </p> #}
    </div>

    Mon URL absolue : {{ url('first') }}
{% endblock %}